<!--<ul>-->
<!--  <li>-->
<!--    <a routerLink="a">a component</a>-->
<!--  </li>-->
<!--  <li>-->
<!--    <a routerLink="b">b component</a>-->
<!--  </li>-->
<!--</ul>-->
<!-- <button (click)="increment()">from app</button>-->
<!--{{someValue}}-->
<!--<router-outlet></router-outlet>-->
<div>
  <app-a></app-a>
</div>
<div>
  <app-b></app-b>
</div>

<div #change1>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
  labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
  ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
  dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
  deserunt mollit anim id est laborum.
</div>
<div #change2>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
  labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
  ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
  dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
  deserunt mollit anim id est laborum.
</div>
<div>
  <img #image src="https://tamtour.com.ua/local/image/865/013/66396557608548c214e3885233f87da2.jpg">
</div>
<div>
  <img #image2 src="https://tamtour.com.ua/local/image/865/013/66396557608548c214e3885233f87da2.jpg">
</div>
